<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
<connectionStrings>
  <add name="myConnectionString" connectionString="Server=tcp:t1ypb2k7ie.database.windows.net,1433;Database=ISADatabase;User ID=mohitjain0890@hotmail.com@t1ypb2k7ie;Password=Mahaveer2;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" /> 
</connectionStrings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" defaultCredentials="false" enableSsl="true" port="587" password="sica19900" userName="mohitjain0890@gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SiteRootUrl" value="http://localhost:49685/Default.aspx"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>
